<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Wallet Monsters</title>
</head>

<body>
    <div id="ui-root"></div>
    <a-scene id="scene" renderer="antialias: true; colorManagement: true;" vr-mode-ui="enabled: false" embedded
        arjs="sourceType: webcam; debugUIEnabled: false;">
        <a-assets>
            <%= require('html-loader!./src/partials/assets.html').default %>
        </a-assets>

        <a-camera look-controls="touchEnabled:false" id="camera">
            <%= require('html-loader!./src/partials/camera.html').default %>
        </a-camera>


        <%= require('html-loader!./src/partials/mobs.html').default %>
    </a-scene>
</body>


</html>