<script type="text/html" id="combatEnemy">
    <a-image
        scale="1 1 1"
        bind__src="enemyImage"
    >
        
        <a-plane
            material="opacity: 0.5"
            position="0 0.5 0"
            height=".1"
            width="1"
        >
            <a-plane
                position="-0.2 0 0.05"
                material="color: #1fc600"
                height=".1"
                width="0.6"
            ></a-plane>
        </a-plane>
    </a-image>
</script>
<script type="text/html" id="clickableSphere">
    <a-entity
        look-at="#camera"
        random-position="min: -1 1 -5; max: 1 4 -4"
        move-randomly="min: -0.5 -0.5 -0; max: 0.5 0.5 0.1"
        bind__move-randomly="enabled: !inCombat">
        <a-sphere 
            id="${id}"
            radius="0.2"
            bind-toggle__combat-trigger="!inCombat"
            bind-toggle__data-clickable="!inCombat"
            bind__visible="!inCombat">
        </a-sphere>
        <a-entity
            template="src: #combatEnemy"
            bind__visible="'${id}' === inCombat && !!enemy"
        ></a-entity>
    </a-entity>
</script>